### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### Spring Boot ###
*.jar
*.war
*.ear

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Env ###
.env
.env.local
